.postItem {
    display: flex;
    width: 728px;
    margin-top: 23px;
}
.postItem__text {
    margin-left: 15px;
    font-weight: 600;
}

.postItem__likes {
    font-size: 18px;
    color: #36117E;
    margin-left: 15px;
    font-weight: 800;
}
.heart {
    font-size: 10px;
    border-radius: 50%;
    background-color: #36117E;
    margin-left: 10px;
}